body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.images img {
    max-width: 45%; /* Adjust the size of the images */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed; /* Fix the footer position */
    bottom: 0; /* Stick the footer to the bottom of the viewport */
    width: 100%; /* Make the footer span the entire width of the viewport */
}
