<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
        }
        /* Style the login link */
        a.login-link {
            color: white; /* Set the color to white */
            text-decoration: none;
        }
        /* Style the login link on hover */
        a.login-link:hover {
            color: yellow; /* Set the hover color to yellow */
        }
        /* Define styles for the logout link */
        .logout-link {
            font-size: 16px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

/* Define hover effect for the logout link */
.logout-link:hover {
    color: rgb(250, 46, 0); /* Change color to red on hover */
}

    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Homepage</h1>
        <div>
            <p>This webpage is designed to give fellow collectors a quick means of selecting and looking at
                the market on eBay or elsewhere for a particular Pokémon product.</p>
            {{#if isLoggedIn}}
                <p>Logged in as {{username}}.</p> 
                <p>Please check out Games for a list of Pokémon games, Merch for consoles and cards, and Saved Games/Merch for your targeted items.</p>
                <div style="position: absolute; top: 20px; right: 10px;">
                <!-- Apply custom styles to the username display -->
                <span style="font-size: 18px; color: rgb(30, 75, 255);">{{username}}</span>
                <!-- Logout link with class for styling -->
                <a href="/logout" class="logout-link">Logout</a>
                </div>

            {{else}}
                <p>Log in or sign up in the top right corner, please.</p>
                <div style="position: absolute; top: 20px; right: 10px;">
                    <a href="/account/login-page" class="login-link">Login</a> <!-- Display login link if not logged in -->
                </div>
            {{/if}}
        </div>
    </div>
</body>
</html>
